.author {
    width: 380px;
    height: 250px;
    background-color: bisque;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 100%;
    display: flex;
    gap: 26px;
    flex-direction: column;
}

.form-group{
    width: 100%;
}

.form-control {
    width: 100%;
    height: 36px;
    border-radius: 6px;
    border: none;
    padding-left: 10px;
}

.form-button {
    background-color: #5c7eab;
    width: 100%;
}

.form-button:hover {
    background-color: #b1cee3;
}